<nav>
  {%- for entry in nav_pages %}
    {% # prettier-ignore %}
    <a href="{{ entry.url }}" {% if entry.url == current_url %}aria-current="page"{% endif %}>
      {{- entry.title -}}
    </a>
  {%- endfor %}
</nav>
{% # Compatible with https://www.11ty.dev/docs/plugins/navigation/#bring-your-own-html-render-the-menu-items-manually %}
