/* Extends https://github.com/picocss/pico/blob/main/scss/content/_table.scss
<!--section:docs-->

### Column expanders

`<hr>` elements inside `<th>` expand table columns by width:

<article style="max-width: 30ch">

| Column with `<hr>` <hr> | Same column without `<hr>` |
| --- | --- |
| (012) 345-6789 | (012) 345-6789 |
</article>

Living examples of big tables with `<hr>`-expanders:
- https://blades.ninja/ai/ide/
- https://blades.ninja/build-awesome-11ty/starters/
- https://blades.ninja/css/frameworks/
- https://blades.ninja/ssg/

How it works:
```css */
table {
  th {
    hr {
      width: 12ch; /* min ~65/12 = ~5 cols */
      height: 0;
      margin: 0;
      visibility: hidden;

      &.lg {
        width: 18ch;
      }
      &.x2 {
        width: 24ch;
      }
    }
  }
}
/*```
### Borderless table

`.borderless` removes all default borders:

| Less | borders |
| ---- | ------- |
| more | fun     |

{.borderless}

Living example: https://bladeswitch.com/#minimal-dependencies table

<!--section--> */
table.borderless {
  th,
  td {
    border: none;
  }
}
