/* Extends https://github.com/picocss/pico/blob/main/scss/content/_table.scss
<!--section:docs-->

### Horizontal expanders

Simply insert `<hr>` inside `<th>` to forcibly widen too narrow columns (especially useful in markdown):
```html
<th>Col <hr></th>
```
Example table before:
<article class="overflow-auto"><table>
  <tr><th>Wide tables</th><th>with many</th><th>columns might</th><th>get collapsed</th><th>and be really</th><th>hard to read!</th></tr>
</table></article>

Same table after adding `<hr>`-expanders:
<article class="overflow-auto"><table>
  <tr><th>Wide tables <hr></th><th>with many <hr></th><th>columns might <hr></th><th>get collapsed <hr></th><th>and be really <hr></th><th>hard to read! <hr></th></tr>
</table></article>

Living examples of big tables with `<hr>`-expanders:
- https://any.digital/insights/ai-ide/
- https://any.digital/insights/css-frameworks/
- https://any.digital/insights/ssg/
- https://blades.ninja/build-awesome-11ty/#min-starters

How it works:
```css */
table {
  th {
    hr {
      width: 12ch; /* min ~65/12 = ~5 cols */
      height: 0;
      margin: 0;
      visibility: hidden;

      &.lg {
        width: 18ch;
      }
      &.x2 {
        width: 24ch;
      }
    }
  }
}
/*```
### Borderless table

`<table class="borderless">` removes all default borders:

<article>

| Less | borders |
| ---- | ------- |
| more | fun     |

{.borderless}
</article>

Living example: https://bladeswitch.com/#minimal-dependencies table

<!--section--> */
table.borderless {
  th,
  td {
    border: none;
  }
}
