/* Extends https://github.com/picocss/pico/blob/main/scss/content/_table.scss
<!--section:docs-->

### Column expanders

Place `<hr>` element inside `<th>` column to expand it horizontally:

<article>

| Column with `<hr>`<hr> | Same column without `<hr>` | ... {style=width:100%} |
| --- | --- | --- |
| (012) 345-6789 | (012) 345-6789 |
</article>

Living examples of big tables with `<hr>`-expanders: <!--A-Z-->
- https://blades.ninja/ai/ide/
- https://blades.ninja/build-awesome-11ty/starters/
- https://blades.ninja/css/frameworks/
- https://blades.ninja/ssg/

<details>How it works:
```css */
th {
  hr {
    width: 12ch; /* min ~65/12 = ~5 cols */
    height: 0;
    margin: 0;
    visibility: hidden;

    &.lg {
      width: 18ch;
    }
    &.x2 {
      width: 24ch;
    }
  }
}
/*```
</details>

### Borderless table

`.borderless` removes all default borders:

<article>

| Less | borders |
| ---- | ------- |
| More | fun     |

{.borderless}
</article>

Living example: https://bladeswitch.com/#minimal-dependencies table

<!--section--> */
table.borderless {
  th,
  td {
    border: none;
  }
}
