/* Extends https://github.com/picocss/pico/blob/main/scss/layout/
<!--section:docs-->

### Auto-columns

`.columns` automatically creates columns with at least 30 characters each:

<article class="columns">
  <p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>10</p><p>11</p><p>12</p>
</article>

The smaller the font size, the more columns will be created:

<article class="columns" style="font-size: 65%">
  <p>1</p><p>2</p><p>3</p><p>4</p><p>5</p><p>6</p><p>7</p><p>8</p><p>9</p><p>10</p><p>11</p><p>12</p>
</article>

Useful for tables of contents and long lists.

<details>How it works:
```css */
.columns {
  columns: 30ch auto; /* 2 cols max for 65ch container */

  /* Avoid breaking inside elements, such as nested lists */
  > * {
    break-inside: avoid;
  }
}
/*```
</details>

### Jump to top

`data-jump-to="top"` is fixed to a corner and has extra top padding to make it easy to click:
```css */
[data-jump-to="top"] {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-top: 50vh;
  opacity: 25%;

  &:hover {
    opacity: 75%;
  }
}
/*```
<!--section--> */
