/* Extends https://github.com/picocss/pico/blob/main/scss/content/_link.scss
<!--section:code-->
```css */
a {
  /* Helper to handle [fav]icons in links */
  > i {
    display: inline-block;
    font-style: normal;

    > img {
      height: 1.25em;
      margin-block: calc(-0.25em / 2);

      /* for tw-typography (.prose) */
      display: inline-block;
    }
  }
}
/*```
> **PRO-TIP** for 11ty: https://blades.ninja/build-awesome-11ty/processors/#auto-link-favicons

<!--section:docs-->

### Link [fav]icons

Wrap [fav]icons inside links using `<i>...&nbsp;</i>` helper to size automatically and avoid underline. Compare:

<big class="grid">
  <article><a href="https://blades.ninja/">   🥷          Blades</a></article>
  <article><a href="https://blades.ninja/"><i>🥷&nbsp;</i>Blades</a></article>
</big>

<big class="grid">
  <article><a href="https://any.digital/">
       <img src="https://www.google.com/s2/favicons?domain=any.digital&amp;sz=64"         > any.digital
  </a></article>
  <article><a href="https://any.digital/">
    <i><img src="https://www.google.com/s2/favicons?domain=any.digital&amp;sz=64">&nbsp;</i>any.digital
  </a></article>
</big>

<!--section--> */
