table.borderless {
  th,
  td {
    border: none;
  }
}

/* Favicons in links @TODO: add to tricks-wiki */
a > i > img {
  max-height: 1.25em;
  margin-top: calc(-0.25em / 2);
  margin-inline-end: 0.25em;
}
