/*
<!--section:docs-->

### Auto-columns
```css */
.columns {
  columns: 30ch auto; /* 2 cols max for 65ch container */

  /* Avoid breaking inside elements, such as nested lists */
  > * {
    break-inside: avoid;
  }
}
/*```

### Auto-dark
```css */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    .dark-auto {
      filter: invert(100%) hue-rotate(180deg);
    }
  }
}
/*```

### Misc
```css */
.faded {
  opacity: 50%;
  &:hover {
    opacity: 87.5%;
  }
}

/* Extends https://tailwindcss.com/docs/filter-invert */
.invert {
  /* Fix the scrollbar color when inverted */
  ::-webkit-scrollbar {
    filter: invert(1) !important;
  }
}
/*``` <!--section--> */
